+++
title = "tf.libsonnet"
linkTitle = "tf.libsonnet"

+++

{{< blocks/cover image_anchor="top" height="large" color="50" >}}
<img src="/img/tflibsonnet-logo.png" class="tflibsonnet-logo" />
<div class="mx-auto">
	<p class="lead mt-5">
    tf.libsonnet is a collection of <a href="https://jsonnet.org">Jsonnet</a> libraries for generating
    <a href="https://www.terraform.io">Terraform</a> code.<br />
    Efficiently implement <a href="https://blog.fensak.io/terraform-compiler-pattern-79c7629e317e">the Terraform
    Compiler Pattern</a> using a DRY, clean, and safe language.
  </p>

  <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/tf-libsonnet">
		Browse <i class="fab fa-github ml-2 "></i>
	</a>
  <p class="mt-5"></p>
	{{< blocks/link-down color="dark" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fa-lightbulb" title="See tf.libsonnet in action" url="https://github.com/tf-libsonnet/infrastructure-live-example" %}}
Check out our example workflow to see how to use tf.libsonnet to implement the Terraform Compiler Pattern.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome" url="https://github.com/tf-libsonnet/libgenerator" %}}
We do a [Pull Request](https://github.com/tf-libsonnet/libgenerator/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-comments" title="Get help" url="https://github.com/orgs/tf-libsonnet/discussions" %}}
If you have any questions about how to use the `tf.libsonnet` libraries, ask in the GitHub Discussion.
{{% /blocks/feature %}}


{{< /blocks/section >}}
